<!DOCTYPE html>
<html>
<head>
  <title>Food Thyme</title>
  <%= stylesheet_link_tag 'http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css' %>
  <!-- <%= javascript_include_tag 'https://code.jquery.com/jquery-1.11.2.js' %>

  <%= javascript_include_tag 'http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.5.1/underscore-min.js' %>
  <%= javascript_include_tag 'http://cdnjs.cloudflare.com/ajax/libs/backbone.js/1.0.0/backbone-min.js' %> -->
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= filepicker_js_include_tag %>

  <script type="text/javascript">filepicker.setKey('<%= ENV["filepicker_api_key"] %>')</script>
  <%= csrf_meta_tags %>
</head>
<body>

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Food Thyme</a>
    </div>
    <ul class="nav navbar-nav navbar-right">
      <% if current_user.nil? %>
      <li><%= link_to "Login", new_session_url %></li>
      <li><%= link_to "Create new user", new_user_url %></li>
      <% else %>
      <li><p class="navbar-text">Signed in as <%= current_user.email %></p></li>
      <li><%= link_to "Logout", session_url, method: :delete %></li>
      <% end %>
    </ul>
  </div>
</nav>

  <%= yield %>

</body>
</html>
